body {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("images/background.png");
  align-items: center;
}

h1 {
  margin-left: 20px;
}

h3 {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li a:hover {
  background-color: #f4f9fe;
  padding-left: 5px;
  border-radius: 25px;
}


#main-container {
  width: 90vw;
  min-height: 90vh;

  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 27px 78px -48px #709EFD;
}

#nav-bar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

#main {
  flex-basis: 80%;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding-top: 15px;
  /* gap: 10px; */
}

#search-container {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #9194a1;
}

#search-container input {
  padding-left: 50px;
  padding-right: 15px;
  width: 75%;
  height: 48px;
  border: 1px solid #EEE;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 27px 78px -48px #709EFD;
}

.search-icon-container {
  position: relative;
}

#search-container i {
  position: absolute;
  top: -11px;
  left: 15px;
  font-size: 26px;
}



#notification {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.date-time {
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#nav-bar {
  width: 300px;
}



.sidebar-items {
  margin-left: 10px;
}

#profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 20px;
}

#account-name {
  margin-left: 10px;
}

#more-btn {
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}

#more-btn:hover {
  background-color: #f4f9fe;
  border-radius: 25px;
}

#account-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

.one-task-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  border-radius: 15px;
  margin: 10px;
}

#first-task-card {
  background-color: white;
}

#second-task-card {
  background-color: white;
}

#third-task-card {
  background-color: #f8fcff;
}

#fourth-task-card {
  background-color: #f8fcff;
}

.task-name {
  font-size: 15px;
  margin-right: 90px;
}

.keyword-design {
  color: white;
  background-color: #ff605b;
  padding: 5px;
  border-radius: 25px;
  font-size: 11px;
  margin-left: 25px;
}

.keyword-marketing {
  color: white;
  background-color: #8ec535;
  padding: 5px;
  border-radius: 25px;
  font-size: 11px;
  margin-left: 25px;
}

.keyword-development {
  color: white;
  background-color: #985df1;
  padding: 5px;
  border-radius: 25px;
  font-size: 11px;
  margin-left: 25px;
}

#circle-icon {
  margin: 5px;
}

#circle {
  margin: 5px;
}

#circle-check {
  margin: 5px;
}

#circle-check-icon {
  margin: 5px;
}

.additional-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 130px;
}

#additional-info-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 110px;
}

#attachment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 175px;
}

#clock-icon {
  margin-right: 10px;
}

#clock-icon-two {
  margin-right: 10px;
}

#attach-icon {
  margin-right: 10px;
}

#task-cards {
  background-color: #f4f9fc;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
  width: 320px;
}

#content {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
}

#content .left-pane {
  flex-basis: 70%;
  padding: 20px;
}

#content .right-pane {
  flex-basis: 30%;
  padding: 20px;
}

.folders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.folder {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background: #F4F9FF;
}

#projects {
  margin-top: 100px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  width: 240px;
  height: 120px;
  border-radius: 10px;
  background: #F4F9FF;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.project>.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
  gap: 20px;

}

.project>.name>.badge {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  background: #FFF;
  text-align: center;
  align-content: center;
}

.project>.progress {
  flex-basis: 50%;
  margin-left: 55px;
}

.progress-bar {
  height: 10px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress-bar-fill {
  height: 100%;
  background: #6283f6;
  border-radius: 5px;
}

.progress-bar-fill-1 {
  width: 55.3%;
}

.progress-bar-fill-2 {
  width: 33.3%;
}

.progress-bar-fill-3 {
  width: 87.5%;
}

.add-new-project {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid #EEE;
  color: #0a0e1c7c;
}

.folder>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.folders .fa-folder {
  font-size: 75px;
  color: #7da5ff
}

.folder span {
  color: #0A0E1C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}